.dialog_back {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    backdrop-filter: blur(6px) brightness(0.8) saturate(0.5);
}

.dialog_cont {
    margin: auto;
    padding: 0 10px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.dialog {
    background: var(--tab);
    padding: 10px;
    border-radius: 10px;
    color: var(--font);
    box-shadow: 0 0 10px var(--shadow);
}

.dialog label {
    padding-left: 5px;
    font-size: 18px;
}

.dialog_btns {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.dialog_btns>.button {
    width: 100%;
    margin: 0;
}

.dialog textarea {
    display: block;
    max-height: 350px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 5px;
    resize: none;
    overflow-y: scroll;
    background: var(--back);
    color: var(--font);
    border: none;
    outline: none;
    padding: 7px;
    font-size: 16px;
    line-height: 16px;
    min-height: 30px;
    border-radius: 4px;
}

.dialog textarea::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.dialog textarea::-webkit-scrollbar-track {
    display: none;
}

.dialog textarea::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 4px;
}