.menubutton {
    width: 25px;
    height: 25px;
}

.menu_icons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.menu_icon {
    padding: 8px;
    border: 2px dashed #0000;
    border-radius: 5px;
}

.drop_area.active {
    border-color: var(--accent);
}

.fs_error {
    text-align: center;
    font-size: 19px;
    color: var(--error);
    padding: 10px;
}

.fs_cont {
    padding-top: 10px;
}

.fs_row {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fs_path:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fs_size {
    font-size: 13px;
    padding-right: 6px;
}

.fs_row:nth-child(odd) {
    background: var(--shadow_light);
}

.fs_info {
    padding: 5px;
    margin-top: 20px;
    color: var(--font);
    text-align: center;
    font-size: 15px;
    border-radius: 0 0 10px 10px;
}