@import 'theme.css';

.popup_cont {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    user-select: none;
    pointer-events: none;
    z-index: 3;
}

.popup {
    filter: opacity(0.7);
    background: var(--error);
    color: white;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}

@keyframes fader {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}