@import 'theme.css';

.arrow_cont {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}

.arrow {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 185.343 185.343' xml:space='preserve'%3E%3Cpath style='fill:%23010002' d='M51.707 185.343a10.692 10.692 0 0 1-7.593-3.149 10.724 10.724 0 0 1 0-15.175l74.352-74.347L44.114 18.32c-4.194-4.194-4.194-10.987 0-15.175 4.194-4.194 10.987-4.194 15.18 0l81.934 81.934c4.194 4.194 4.194 10.987 0 15.175l-81.934 81.939a10.678 10.678 0 0 1-7.587 3.15z'/%3E%3C/svg%3E");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    background-color: var(--font_tint);
    height: 100%;
    aspect-ratio: 1 / 1;
}

.arrow.left {
    transform: rotate(-180deg);
}

.arrow.down {
    transform: rotate(90deg);
}

.moon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M17.39 15.14A7.33 7.33 0 0 1 11.75 1.6c.23-.11.56-.23.79-.34a8.19 8.19 0 0 0-5.41.45 9 9 0 1 0 7 16.58 8.42 8.42 0 0 0 4.29-3.84 5.3 5.3 0 0 1-1.03.69z'/%3E%3C/svg%3E");
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    background-color: var(--font_tint);
    width: 30px;
    height: 30px;
    cursor: pointer;
}