.select {
    max-height: 350px;
    overflow-y: scroll;
    padding: 0;
}

.select::-webkit-scrollbar {
    display: none;
}

.select::-webkit-scrollbar-track {
    display: none;
}

.select::-webkit-scrollbar-thumb {
    display: none;
}

.option {
    font-size: 19px;
    padding: 6px 8px;
    min-height: 23px;
}

.option:hover {
    background: var(--back);
}

.option.active {
    background: var(--accent) !important;
}