.value {
    color: var(--font_tint);
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* max-width: 80%; */
}

.value.active {
    cursor: pointer;
    text-align: right;
    min-width: 100px;
    min-height: 20px;
}

.value.bold {
    font-weight: 500;
    font-size: 18px;
}

.input_arrow {
    display: inline-flex;
    align-items: flex-end;
    cursor: pointer;
}

.input_cont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}